
@font-face {
	font-family: 'NationalPark';
	src: url('media/NationalPark/NationalPark-Regular.otf') format('opentype');
}


html, body {
	margin: 0;
	font-family: 'NationalPark';
}
a {
	text-decoration: none;
	color: inherit;
}

#full {
	max-width: 50em;
	margin: auto;
}
@media (max-width: 600px) {
	#full {
		padding: .5em;
	}
}
.sectionGap {
	margin-bottom: 2em;
}
#logo {
	font-size: 2em;
	margin-top: .5em;
	padding-left: 1.5em;
	background-image: url(media/can.png);
	background-size: contain;
	background-repeat: no-repeat;
}
input[name='search'] {
	width: 100%;
	height: 2em;
	font-size: 1.2em;
	padding-left: 3em;
	background: transparent;
	background-image: url(media/search.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: none;
	border-bottom: solid .1em;
}
input[name='search']:focus {
    outline-width: 0;
}

.bar {
	display: flex;
	height: 1.5em;
}
.prot {
	background: rgb(100,186,203);
}
.carb {
	background: rgb(238,213,126);
}
.fat {
	background: rgb(203,117,100);
}
.protCarb {
	background-image: linear-gradient(45deg,rgb(100,186,203),rgb(238,213,126));
}
.protFat {
	background-image: linear-gradient(45deg,rgb(100,186,203),rgb(203,117,100));
}
.inner {
	box-sizing: border-box;
	padding-left: 1em;
	white-space: nowrap;
	flex: 1;
}
@media (max-width: 600px) {
	.inner {
		padding-left: .2em;
	}
}

#footer {
	font-size: 1.2em;
	border-top: solid .1em;
	background: white;
	left: 0em;
	bottom: 0em;
	width: 100%;
	height: 5em;
}

/* specific to index page */

#searchTitle {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 4em;
}
#mainSearch {
	margin-top: 4em;
}
#collections {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 2em repeat(3, 10em);
	grid-gap: 1em;
}
#recipes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 2em repeat(4, 10em);
	grid-gap: 1em;
}
#blog .gridItem {
	margin-top: 1em;
	margin-bottom: 1em;
	min-height: 20em;
}
.subtitle {
	font-size: 1.5em;
	grid-column: 1/-1;
}
.gridItem {
	min-width: 1em;
	min-height: 1em;
	display: flex;
	flex-direction: column;
}
.gridItemTop {
	flex: 1;
	flex-grow: 10;
}
.gridItemBottom {
	flex: 1;
	background: rgba(255,255,255,0.5);
	box-sizing: border-box;
	padding: 1em;
}

/* specific to search page */

#macroSort {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 2em;
	color: white;
}
.foodTitle {
	margin-bottom: 1em;
	height: 1em;
}

#content {
	width: 100%;
	margin-bottom: 2em;
}